@model LeaveManagement.Models.Leave

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Leave</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noofdays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noofdays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LeaveID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
