@{
    ViewData["Title"] = "Home Page";
}

@model LeaveManagement.Models.User

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@using (Html.BeginForm())
{
    <div class="bs-example" style="border:2px solid gray;">

        <div class="form-group centerlook">
            <h1> Login </h1>
        </div>
        <div class="form-group centerlook">
            <label>User Name: </label>
            @Html.EditorFor(model => model.UserName)*
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <div class="form-group centerlook">
            <label>Password:</label>
            @Html.EditorFor(model => model.Password) *
            @Html.ValidationMessageFor(model => model.Password)

        </div>
        <div class="form-group error">
            @if (@ViewBag.Failedcount != null)
            {

                <label> Failed Attempt count is: @ViewBag.Failedcount</label>
            }

            @if (@ViewBag.NotValidUser != null)
            {

                <label> @ViewBag.NotValidUser</label>
            }
        </div>
        <div class="loginbtn">

            <input type="submit" value="Login" class="btn btn-primary" />

        </div>
    </div>
}