@model IEnumerable<BookApp.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@using (Html.BeginForm("Index", "Order", FormMethod.Get))
{
    <b>
        Search By ID:
    </b>
    @Html.TextBox("search")
    <input type="submit" value="Search" />
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
